body{
    background: linear-gradient(60deg,rgb(247, 255, 218),#cfe7ef,rgb(247, 255, 218));
    height: 100vh;
    color: black;
}
input{
    font-size: 15px !important;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(45deg,rgb(56, 255, 222),rgb(232, 178, 253),rgb(253, 242, 143),rgb(123, 255, 106));
    box-shadow: 1px 0px 5px 1px;
}
.addBtn{
    font-size: 14px;
    font-weight: 600;
    background-color:rgb(132, 123, 136) !important;
    color: white !important;
}

.cardHover {
    height: 50px;
    box-shadow: none;
    /* transform: scale(1.015); */
    .actions{
        display:none;
    }
}

.cardHover:hover{
    box-shadow: 2px 2px 4px rgb(52, 52, 52);
    .actions{
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .date{
        display: none;
    }
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}